<style>
    .item-card-body {
        margin-bottom: 50px;
    }



@media screen and (orientation : landscape) {
    #walkthrough {
        display: none;
    }
}
</style>
<% if (user.admin===true) { %>

<%- include('../../partials/menus/admin-nav.ejs'); %>
<div class="admin-container">

<div class="go-back-button">
    <a href="/admin/products"><i class="fas fa-long-arrow-alt-left"></i> Back to All Products</a>
</div>

<div class="go-back-button">
    <a href="/admin/products/type/<%= product.product_type %>"><i class="fas fa-long-arrow-alt-left"></i> Back to <%= product.product_type %> Products</a>
</div>


<% if (product.raffle_only === true) { %>
    <p style="text-align: center; font-size: 1.2rem; color: red; font-weight: bold;">RAFFLE ONLY PRODUCT</p>
<% } %>
<div class="product-data">
    <div class="product-data-section">
        <% if (product.in_stock === 0) { %>
            <p style="color: red; font-weight: bold;">In Stock: <%= product.in_stock %></p>
        <% } else { %>
            <p>In Stock: <%= product.in_stock %></p>
        <% } %>
        <p>Reorder At: <%= product.reorder_alert %></p>
        <p>SKU: <%= product.sku %></p>
    </div>
    <div class="product-data-section">
        <p><a href="/admin/products/order/<%= product.id %>">Order More</a></p>
    </div>
</div>
<div class="item-card-body">
    <div class="item-card-data">
        <div class="item-card-data-header">
            <h3>
                <%= product.manufacturer.name %>
            </h3>
        </div>
        <div class="item-card-data-subheader">
            <h5>
                <%= product.name %>
            </h5>
        </div>

    </div>

    <div class="item-card-description">
        <p>
            <%= product.description %>
        </p>
    </div>
    <div class="item-card-main-image-container">
        <div class="item-card-main-image">
            <% if (!product.main_image) { %>
                
                    <img style="filter: drop-shadow(0 0 2px lightskyblue);width: 75px; border-radius: 8px; opacity: 0.75;" src="https://th.bing.com/th/id/R.b9f8fb5b4ae645af922016c1fef19a9e?rik=n6ijNdvUdInMAg&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fdownload_546302.png&ehk=esufhR2EMnshhANfFAucbBI2jDIqTIjS20AfIBENF9M%3d&risl=&pid=ImgRaw&r=0" />
            <% } else { %>
                <img src="<%= product.main_image %>" />
            <% } %>
        </div>
    </div>

    <% if (product.images=='' ) {%>
        <span style="display: none;"></span>
    <% } else { %>
        <div class="item-card-images">
            <% product.images.forEach(function(image) { %>
                <% if (image=='' ) { %>
                    <span style="display: none;"></span>
                <% } else { %>
                    <div class="item-card-image-container">
                        <div class="item-card-image">
                            <img src="/image/<%= image %>" alt="">
                            <p><%= image %></p>
                        </div>
                    </div>
                <% } %>
            <% }) %>
        </div>
    <% } %>

    <% if (product.available_sizes.length === 0) { %>
        <span style="display: none;"></span>
    <% } else { %>
        <div class="available-sizes-header">
            <h5>Available Sizes</h5>
        </div>
        <div class="item-card-sizes">
            <% product.available_sizes.forEach(function(size) { %>
                <% if (size == '') { %>
                    <span style="display: none;"></span>
                <% } else { %>
                    <div class="item-size">
                        <span><%= size %></span>
                    </div>
                <% } %>
            <% }) %>
        </div>
    <% } %>

    <div class="item-card-price">
        <div class="item-card-data-price">
            <span id="product_<%= product.id %>">$<%= product.price.base %></span>
        </div>
        <div class="item-card-buttons">

            <div class="item-card-button">
                <button><a href="/admin/products/edit/<%= product.id %>"><i class="far fa-edit"></i></a></button>
            </div>
        </div>
    </div>

</div>

</div>


    
<% } else { %>
    <%- include('../../partials/pages/404.ejs'); %>
    
<% } %>